<!-- <table class="table table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>size</th>
    </tr>
  </thead>
  <tbody ng-repeat="item in content | orderBy: 'type'">
    <tr>
      <td>
        <span ng-class="{'glyphicon glyphicon-folder-open': item.type === 'dir', 'glyphicon glyphicon-file': item.type === 'file'}"></span>
      </td>
      <td>{{item.name}}</td>
      <td>
        <span ng-if="item.type !== 'dir'" class="badge">{{item.size}}</span>
      </td>
    </tr>
  </tbody>
</table> -->
