<div style="width: 25%; display: inline-block;vertical-align: top;border: 1px solid #337ab7;border-radius: 4px;margin-right: 10px;">
  <ul class="nav nav-pills nav-stacked">
    <li ng-class="{active: isActive('details')}">
      <a href="#/repository/{{repository.full_name.split('/')[0]}}/{{repository.full_name.split('/')[1]}}/details">Details</a>
    </li>
    <li ng-class="{active: isActive('contributors')}">
     <a href="#/repository/{{repository.full_name.split('/')[0]}}/{{repository.full_name.split('/')[1]}}/contributors">Contributors</a>
    </li>
    <li ng-class="{active: isActive('content')}">
      <a href="#/repository/{{repository.full_name.split('/')[0]}}/{{repository.full_name.split('/')[1]}}/content">Files</a>
    </li>
    <li ng-class="{active: isActive('issues')}">
      <a href="#/repository/{{repository.full_name.split('/')[0]}}/{{repository.full_name.split('/')[1]}}/issues">Issues</a>
    </li>
  </ul>
</div>
<div class="container" style="padding: 0;width: 70%; display: inline-block;vertical-align: top;">
  <div ui-view=""></div>
</div>

