<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Login</th>
      <th>How do I look?</th>
      <th>Contribution</th>
    </tr>
  </thead>
  <tbody ng-repeat="contributor in contributors">
    <tr>
      <th scope="row">{{$index}}</th>
      <td>{{contributor.login}}</td>
      <td><img src="{{contributor.avatar_url}}" style="height: 40px; width: 40px;"/></td>
      <td>
        <span class="badge">{{contributor.contributions}}</span>
      </td>
    </tr>
  </tbody>
</table>
