<form style="margin: 0 20px;">
  <div class="form-group">
    <label for="name">Repository Name</label>
    <input type="text" name="name" ng-model="repository.name" class="form-control" id="name" placeholder="Enter repository name">*
  </div>
  <div class="form-group">
    <label for="description">Repository Name</label>
    <textarea name="description" class="form-control" ng-model="repository.description" rows="3"></textarea>
  </div>
  <button type="submit" ng-click="editRepository()" class="btn btn-default">Submit</button>
</form>
