<span ng-if="isOwner()"><a href="#/repository/{{repository.full_name.split('/')[0]}}/{{repository.full_name.split('/')[1]}}/issues/new">+ new issue</a></span>
<table class="table table-condensed"> <thead> <tr> <th>number</th> <th>title</th> <th>size</th> <th></th> </tr> </thead>
<tbody ng-repeat="item in issues"> <tr> <th scope="row">#{{item.number}}</th> <td><a href="#/repository/{{repository.full_name.split('/')[0]}}/{{repository.full_name.split('/')[1]}}/issue/{{item.number}}">{{item.title}}</a></td><td><span class="badge">{{item.state}}</span></td> </tr> </tbody> </table>
